@model RS1_Ispit_asp.net_core.ViewModels.DodajTakmicenjeVM


<div class="row">
    <div class="col-md-4 col-sm-4">
        <form asp-action="DodajTakmicenje" >
            <div class="form-group">
                <label asp-for="PredmetId" class="control-label">Predmet</label>
                <select asp-for="@Model.PredmetId" asp-items="@Model.Predmeti.Select(s => new SelectListItem { Value = s.Id.ToString(), Text = s.Naziv + " " + s.Razred})" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="SkolaId" class="control-label">Skola</label>
                <select asp-for="@Model.SkolaId" asp-items="@Model.Skole.Select(s => new SelectListItem { Value = s.Id.ToString(), Text = s.Naziv } )" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="@Model.Datum" asp-format="{0:dd.MM.yyyy}"  class="form-control" readonly/>
            </div>
            <div class="form-group">
                <input type="submit" id="snimiBtn" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


